.page {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

.header {
  margin-left: var(--spacings-m);
}

.breadcrumb {
  color: var(--colors-gray-light) !important;
}

.colorsSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.colorContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: var(--spacings-xs);
}

.colorName {
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}