:root, [data-morfeo-theme="dark"] {
	--border-styles-dashed: dashed;
	--border-styles-dotted: dotted;
	--border-styles-double: double;
	--border-styles-groove: groove;
	--border-styles-hidden: hidden;
	--border-styles-none: none;
	--border-styles-solid: solid;
	--border-widths-none: 0px;
	--border-widths-2xs: 0.2px;
	--border-widths-xs: 0.5px;
	--border-widths-s: 1px;
	--border-widths-m: 2px;
	--border-widths-l: 4px;
	--border-widths-xl: 6px;
	--border-widths-2xl: 8px;
	--borders-none: 0px none;
	--borders-strong: 2px solid #ececec;
	--borders-medium: 1px solid #ececec;
	--borders-thin: 0.5px solid #ececec;
	--breakpoints-lg: 1920px;
	--breakpoints-md: 1366px;
	--breakpoints-sm: 768px;
	--breakpoints-xs: 375px;
	--font-sizes-2xs: .5rem;
	--font-sizes-xs: .75rem;
	--font-sizes-s: .875rem;
	--font-sizes-m: 1rem;
	--font-sizes-l: 1.125rem;
	--font-sizes-xl: 1.5rem;
	--font-sizes-2xl: 2rem;
	--font-sizes-3xl: 5rem;
	--font-sizes-4xl: 7rem;
	--font-sizes-none: 0;
	--font-weights-thin: 100;
	--font-weights-extra-light: 200;
	--font-weights-light: 300;
	--font-weights-regular: 400;
	--font-weights-medium: 500;
	--font-weights-semi-bold: 600;
	--font-weights-bold: 700;
	--font-weights-extra-bold: 800;
	--font-weights-black: 900;
	--font-weights-extra-black: 950;
	--gradients-primary: linear-gradient(180deg, #06f 0%, #db2494 100%);
	--gradients-secondary: linear-gradient(180deg, #A3A3A3 0%, #ffffff 100%);
	--letter-spacings-body: 0.02rem;
	--letter-spacings-heading: 0.005rem;
	--letter-spacings-none: 0rem;
	--line-heights-body: 1.7;
	--line-heights-heading: 1.5;
	--line-heights-none: 1;
	--opacities-none: 0;
	--opacities-light: 0.2;
	--opacities-medium: 0.6;
	--opacities-strong: 1;
	--radii-2xs: 4px;
	--radii-xs: 8px;
	--radii-s: 12px;
	--radii-m: 16px;
	--radii-l: 20px;
	--radii-xl: 24px;
	--radii-2xl: 28px;
	--radii-none: 0px;
	--radii-round: 50%;
	--shadows-none: 0px 0px 0px #828282;
	--shadows-light: 0px 6px 20px #E6E6E6;
	--shadows-medium: 0px 6px 20px #C5C5C5;
	--shadows-strong: 0px 6px 20px #A3A3A3;
	--sizes-25: 25%;
	--sizes-50: 50%;
	--sizes-75: 75%;
	--sizes-100: 100%;
	--sizes-2xs: 8px;
	--sizes-xs: 16px;
	--sizes-s: 24px;
	--sizes-m: 32px;
	--sizes-l: 40px;
	--sizes-xl: 48px;
	--sizes-2xl: 56px;
	--sizes-25vh: 25vh;
	--sizes-50vh: 50vh;
	--sizes-75vh: 75vh;
	--sizes-100vh: 100vh;
	--sizes-25vw: 25vw;
	--sizes-50vw: 50vw;
	--sizes-75vw: 75vw;
	--sizes-100vw: 100vw;
	--sizes-none: 0px;
	--spacings-none: 0rem;
	--spacings-3xs: .25rem;
	--spacings-2xs: .5rem;
	--spacings-xs: 1rem;
	--spacings-s: 1.5rem;
	--spacings-m: 2rem;
	--spacings-l: 2.5rem;
	--spacings-xl: 3rem;
	--spacings-2xl: 3.5rem;
	--spacings-3xl: 4rem;
	--spacings-4xl: 5rem;
	--spacings-5xl: 6rem;
	--transitions-slow: 1s ease;
	--transitions-medium: .6s ease;
	--transitions-fast: .3s ease;
	--transitions-none: 0s;
	--z-indices-none: 0;
	--z-indices-lowest: -1;
	--z-indices-lower: 1;
	--z-indices-low: 10;
	--z-indices-high: 20;
	--z-indices-higher: 30;
	--z-indices-highest: 40;
	--colors-dark: #6C6C6C;
	--colors-light: #A3A3A3;
	--colors-gray-darkest: #414141;
	--colors-gray-darker: #575757;
	--colors-gray-dark: #6C6C6C;
	--colors-gray: #828282;
	--colors-gray-light: #A3A3A3;
	--colors-gray-lighter: #C5C5C5;
	--colors-gray-lightest: #E6E6E6;
	--colors-primary-lightest: #dbe9ff;
	--colors-primary-lighter: #92bdff;
	--colors-primary-light: #4992ff;
	--colors-primary: #06f;
	--colors-primary-dark: #0049b6;
	--colors-primary-darker: #002c6d;
	--colors-primary-darkest: #000f24;
	--colors-secondary-lightest: #fae0f0;
	--colors-secondary-lighter: #f0a1d1;
	--colors-secondary-light: #e563b3;
	--colors-secondary: #db2494;
	--colors-secondary-dark: #9c1a6a;
	--colors-secondary-darker: #5e0f3f;
	--colors-secondary-darkest: #1f0515;
	--colors-error: #d10343;
	--colors-success: #01ce80;
	--colors-warning: #fac656;
	--colors-accent: #23cedf;
	--colors-disabled: #bcbcbc;
	--colors-white: #ffffff;
	--colors-black: #000000;
	--colors-background: #000000;
	--colors-inverted-background: #ffffff;
	--colors-text: #ececec;
	--colors-inverted-text: #2f2f2f;
	--colors-head-text: #ffffff;
	--colors-inverted-head-text: #000000;
	--fonts-default: Montserrat, sans-serif;
}
