:root, [data-morfeo-theme="light"] {
	--radii-2xs: 4px;
	--radii-xs: 8px;
	--radii-s: 12px;
	--radii-m: 16px;
	--radii-l: 20px;
	--radii-xl: 24px;
	--radii-2xl: 28px;
	--radii-none: 0px;
	--radii-round: 50%;
	--sizes-25: 25%;
	--sizes-50: 50%;
	--sizes-75: 75%;
	--sizes-100: 100%;
	--sizes-2xs: 8px;
	--sizes-xs: 16px;
	--sizes-s: 24px;
	--sizes-m: 32px;
	--sizes-l: 40px;
	--sizes-xl: 48px;
	--sizes-2xl: 56px;
	--sizes-25vh: 25vh;
	--sizes-50vh: 50vh;
	--sizes-75vh: 75vh;
	--sizes-100vh: 100vh;
	--sizes-25vw: 25vw;
	--sizes-50vw: 50vw;
	--sizes-75vw: 75vw;
	--sizes-100vw: 100vw;
	--sizes-none: 0px;
	--fonts-default: Montserrat, sans-serif;
	--shadows-none: 0px 0px 0px #828282;
	--shadows-light: 0px 6px 20px #dee1e4;
	--shadows-medium: 0px 6px 20px #d3d7db;
	--shadows-strong: 0px 6px 20px #828282;
	--borders-none: 0px none;
	--borders-strong: 4px solid #2f2f2f;
	--borders-medium: 2px solid #2f2f2f;
	--borders-thin: 1px solid #2f2f2f;
	--spacings-none: 0rem;
	--spacings-3xs: .25rem;
	--spacings-2xs: .5rem;
	--spacings-xs: 1rem;
	--spacings-s: 1.5rem;
	--spacings-m: 2rem;
	--spacings-l: 2.5rem;
	--spacings-xl: 3rem;
	--spacings-2xl: 3.5rem;
	--spacings-3xl: 4rem;
	--spacings-4xl: 5rem;
	--spacings-5xl: 6rem;
	--z-indices-none: 0;
	--z-indices-lowest: -1;
	--z-indices-lower: 1;
	--z-indices-low: 10;
	--z-indices-high: 20;
	--z-indices-higher: 30;
	--z-indices-highest: 40;
	--opacities-none: 0;
	--opacities-light: 0.2;
	--opacities-medium: 0.6;
	--opacities-strong: 1;
	--font-sizes-2xs: .5rem;
	--font-sizes-xs: .75rem;
	--font-sizes-s: .875rem;
	--font-sizes-m: 1rem;
	--font-sizes-l: 1.125rem;
	--font-sizes-xl: 1.5rem;
	--font-sizes-2xl: 2rem;
	--font-sizes-3xl: 5rem;
	--font-sizes-4xl: 7rem;
	--font-sizes-none: 0;
	--gradients-primary: linear-gradient(180deg, #0066ff 0%, #db2494 100%);
	--gradients-secondary: linear-gradient(180deg, light 0%, #ffffff 100%);
	--breakpoints-lg: 1920px;
	--breakpoints-md: 1366px;
	--breakpoints-sm: 768px;
	--breakpoints-xs: 375px;
	--line-heights-body: 1.7;
	--line-heights-heading: 1.5;
	--line-heights-none: 1;
	--transitions-slow: 1s ease;
	--transitions-medium: .6s ease;
	--transitions-fast: .3s ease;
	--transitions-none: 0s;
	--font-weights-thin: 100;
	--font-weights-extra-light: 200;
	--font-weights-light: 300;
	--font-weights-regular: 400;
	--font-weights-medium: 500;
	--font-weights-semi-bold: 600;
	--font-weights-bold: 700;
	--font-weights-extra-bold: 800;
	--font-weights-black: 900;
	--font-weights-extra-black: 950;
	--border-widths-none: 0px;
	--border-widths-2xs: 0.2px;
	--border-widths-xs: 0.5px;
	--border-widths-s: 1px;
	--border-widths-m: 2px;
	--border-widths-l: 4px;
	--border-widths-xl: 6px;
	--border-widths-2xl: 8px;
	--border-styles-dashed: dashed;
	--border-styles-dotted: dotted;
	--border-styles-double: double;
	--border-styles-groove: groove;
	--border-styles-hidden: hidden;
	--border-styles-none: none;
	--border-styles-solid: solid;
	--letter-spacings-body: 0.02rem;
	--letter-spacings-heading: 0.005rem;
	--letter-spacings-none: 0rem;
	--colors-gray-darkest: #2f2f2f;
	--colors-gray-darker: #575757;
	--colors-gray-dark: #6C6C6C;
	--colors-gray: #828282;
	--colors-gray-light: #d3d7db;
	--colors-gray-lighter: #dee1e4;
	--colors-gray-lightest: #f5f6f7;
	--colors-primary-darkest: #0047b3;
	--colors-primary-darker: #0057d9;
	--colors-primary-dark: #005ce6;
	--colors-primary: #0066ff;
	--colors-primary-light: #1a75ff;
	--colors-primary-lighter: #267dff;
	--colors-primary-lightest: #4d94ff;
	--colors-secondary-darkest: #991968;
	--colors-secondary-darker: #ba1f7e;
	--colors-secondary-dark: #c52085;
	--colors-secondary: #db2494;
	--colors-secondary-light: #df3a9f;
	--colors-secondary-lighter: #e045a4;
	--colors-secondary-lightest: #e666b4;
	--colors-error-lightest: #ff918b;
	--colors-error-lighter: #ff665d;
	--colors-error-light: #ff584e;
	--colors-error: #ff3b30;
	--colors-error-dark: #ff1e12;
	--colors-error-darker: #ff1003;
	--colors-error-darkest: #d40b00;
	--colors-success-lightest: #0ffea3;
	--colors-success-lighter: #01ed93;
	--colors-success-light: #01e38d;
	--colors-success: #01ce80;
	--colors-success-dark: #01b973;
	--colors-success-darker: #01af6d;
	--colors-success-darkest: #01905a;
	--colors-warning-lightest: #fdd596;
	--colors-warning-lighter: #fcc269;
	--colors-warning-light: #fcbc59;
	--colors-warning: #fbb03b;
	--colors-warning-dark: #faa41d;
	--colors-warning-darker: #fa9e0d;
	--colors-warning-darkest: #d58304;
	--colors-accent-darkest: #227b8b;
	--colors-accent-darker: #2996a9;
	--colors-accent-dark: #2b9eb3;
	--colors-accent: #30b0c7;
	--colors-accent-light: #3fbbd1;
	--colors-accent-lighter: #49bed3;
	--colors-accent-lightest: #67c9da;
	--colors-disabled: #bcbcbc;
	--colors-white: #ffffff;
	--colors-black: #000000;
	--colors-background: #ffffff;
	--colors-inverted-background: #000000;
	--colors-text: #2f2f2f;
	--colors-inverted-text: #ececec;
	--colors-head-text: #000000;
	--colors-inverted-head-text: #ffffff;
}
