[data-morfeo-theme="light"] .morfeo-box {}
[data-morfeo-theme="light"] .morfeo-card {
  color: var(--colors-text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: var(--radii-s);
  flex-direction: column;
}
[data-morfeo-theme="light"] .morfeo-card-primary {
  color: var(--colors-text-color);
  cursor: pointer;
  display: flex;
  box-shadow: var(--border-widths-none) var(--border-widths-xl) var(--radii-l) var(--colors-gray-lightest);
  align-items: center;
  border-radius: var(--radii-s);
  flex-direction: column;
}
[data-morfeo-theme="light"] .morfeo-card-primary-clickable {
  color: var(--colors-text-color);
  cursor: pointer;
  display: flex;
  box-shadow: var(--border-widths-none) var(--border-widths-xl) var(--radii-l) var(--colors-gray-lightest);
  transition: var(--transitions-fast);
  align-items: center;
  border-radius: var(--radii-s);
  flex-direction: column;
}
[data-morfeo-theme="light"] .morfeo-card-primary-clickable:hover {
  transform: translateY(-5px);
  box-shadow: var(--border-widths-none) var(--border-widths-xl) var(--radii-l) var(--colors-gray-lighter);
}
[data-morfeo-theme="light"] .morfeo-input {
  border: var(--border-widths-m) var(--border-styles-solid) var(--colors-text-color);
  height: var(--sizes-m);
  display: block;
  border-color: var(--colors-gray-lightest);
  padding-left: var(--spacings-xs);
  border-radius: var(--radii-xxs);
  padding-right: var(--spacings-xs);
  background-color: var(--colors-white);
}
[data-morfeo-theme="light"] .morfeo-input:focus {
  border: var(--border-widths-m) var(--border-styles-solid) var(--colors-text-color);
  border-color: var(--colors-gray-lighter);
}
[data-morfeo-theme="light"] .morfeo-button {
  color: var(--colors-inverted-text-color);
  border: var(--border-widths-none) var(--border-styles-none);
  cursor: pointer;
  outline: none;
  font-size: var(--font-sizes-m);
  font-weight: var(--font-weights-bold);
  padding-top: var(--spacings-xxs);
  padding-left: var(--spacings-xs);
  border-radius: var(--radii-xs);
  padding-right: var(--spacings-xs);
  padding-bottom: var(--spacings-xxs);
  background-color: var(--colors-primary);
}
[data-morfeo-theme="light"] .morfeo-button-round {
  color: var(--colors-inverted-text-color);
  border: var(--border-widths-none) var(--border-styles-none);
  cursor: pointer;
  outline: none;
  font-size: var(--font-sizes-m);
  font-weight: var(--font-weights-bold);
  padding-top: var(--spacings-none);
  padding-left: var(--spacings-none);
  border-radius: var(--radii-round);
  padding-right: var(--spacings-none);
  padding-bottom: var(--spacings-none);
  background-color: var(--colors-primary);
}
[data-morfeo-theme="light"] .morfeo-button-side {
  color: var(--colors-inverted-text-color);
  border: var(--border-widths-none) var(--border-styles-none);
  cursor: pointer;
  outline: none;
  font-size: var(--font-sizes-m);
  font-weight: var(--font-weights-bold);
  padding-top: var(--spacings-none);
  padding-left: var(--spacings-none);
  border-radius: var(--radii-xs);
  padding-right: var(--spacings-none);
  padding-bottom: var(--spacings-none);
  background-color: var(--colors-primary);
  border-top-left-radius: var(--radii-none);
  border-top-right-radius: var(--radii-round);
  border-bottom-left-radius: var(--radii-none);
  border-bottom-right-radius: var(--radii-round);
}
[data-morfeo-theme="light"] .morfeo-button-error {
  color: var(--colors-error);
  border: var(--border-widths-none) var(--border-styles-none);
  cursor: pointer;
  outline: none;
  font-size: var(--font-sizes-m);
  font-weight: var(--font-weights-bold);
  padding-top: var(--spacings-xxs);
  padding-left: var(--spacings-xs);
  border-radius: var(--radii-xs);
  padding-right: var(--spacings-xs);
  padding-bottom: var(--spacings-xxs);
  background-color: var(--colors-light);
}
[data-morfeo-theme="light"] .morfeo-button-success {
  color: var(--colors-inverted-text-color);
  border: var(--border-widths-none) var(--border-styles-none);
  cursor: pointer;
  outline: none;
  font-size: var(--font-sizes-m);
  font-weight: var(--font-weights-bold);
  padding-top: var(--spacings-xxs);
  padding-left: var(--spacings-xs);
  border-radius: var(--radii-xs);
  padding-right: var(--spacings-xs);
  padding-bottom: var(--spacings-xxs);
  background-color: var(--colors-success);
}
[data-morfeo-theme="light"] .morfeo-typography {
  font-family: var(--fonts-regular);
}
[data-morfeo-theme="light"] .morfeo-typography-hero {
  font-size: var(--font-sizes-l);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-bold);
  line-height: var(--line-heights-heading);
}
[data-morfeo-theme="light"] .morfeo-typography-h1 {
  font-size: var(--font-sizes-xl);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-bold);
  line-height: var(--line-heights-heading);
  letter-spacing: var(--letter-spacings-heading);
}
[data-morfeo-theme="light"] .morfeo-typography-h2 {
  font-size: var(--font-sizes-l);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-bold);
  line-height: var(--line-heights-heading);
}
[data-morfeo-theme="light"] .morfeo-typography-h3 {
  font-size: var(--font-sizes-m);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-bold);
  line-height: var(--line-heights-heading);
}
[data-morfeo-theme="light"] .morfeo-typography-h4 {
  font-size: var(--font-sizes-s);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-bold);
  line-height: var(--line-heights-heading);
}
[data-morfeo-theme="light"] .morfeo-typography-h5 {
  font-size: var(--font-sizes-m);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-regular);
  line-height: var(--line-heights-heading);
}
[data-morfeo-theme="light"] .morfeo-typography-p1 {
  font-size: var(--font-sizes-m);
  font-family: var(--fonts-regular);
  line-height: var(--line-heights-body);
  letter-spacing: var(--letter-spacings-body);
}
[data-morfeo-theme="light"] .morfeo-typography-p2 {
  font-size: var(--font-sizes-s);
  font-family: var(--fonts-regular);
  line-height: var(--line-heights-body);
  letter-spacing: var(--letter-spacings-body);
}
[data-morfeo-theme="light"] .morfeo-typography-p3 {
  font-size: var(--font-sizes-xs);
  font-family: var(--fonts-regular);
  line-height: var(--line-heights-body);
}
[data-morfeo-theme="light"] .morfeo-typography-p4 {
  font-size: var(--font-sizes-xxs);
  font-family: var(--fonts-regular);
  line-height: var(--line-heights-body);
}
[data-morfeo-theme="light"] .morfeo-typography-link {
  color: var(--colors-primary);
  cursor: pointer;
  font-size: var(--font-sizes-m);
  font-family: var(--fonts-regular);
  line-height: var(--line-heights-body);
}
[data-morfeo-theme="light"] .morfeo-typography-link:hover {
  color: var(--colors-primary-lightest);
}
[data-morfeo-theme="light"] .morfeo-typography-cta {
  font-family: var(--fonts-regular);
}
[data-morfeo-theme="light"] .morfeo-typography-cta::after {
  width: var(--sizes-s);
  content: '→';
  font-size: var(--font-sizes-m);
  font-family: var(--fonts-regular);
  font-weight: var(--font-weights-bold);
  line-height: var(--line-heights-heading);
  margin-left: var(--spacings-xxs);
}
[data-morfeo-theme="light"] .morfeo-typography-caption {
  font-size: var(--font-sizes-xxs);
  font-style: italic;
  font-family: var(--fonts-regular);
  line-height: var(--line-heights-body);
}
