.link {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-bottom: var(--spacings-s);
  border: var(--borders-medium);
  border-color: var(--colors-primary);
  font-weight: var(--font-weights-bold);
}

.image {
  margin-right: var(--spacings-2xs);
}