.row {
  display: grid;
  grid-gap: var(--spacings-2xs);
  padding-top: var(--spacings-s);
  padding-bottom: var(--spacings-s);
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1100px) {
  .row {
    grid-template-columns: 1fr;
  }
}
