.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: var(--spacings-xs);
  width: 10rem;
  height: 15rem;
  border: var(--borders-primary);
  border-color: var(--colors-primary);
}

.innerCard {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  width: 10rem;
  height: 10rem;
  background-color: var(--colors-primary);
  border: var(--borders-primary);
  border-color: var(--colors-primary);
  border-bottom-width: none;
}

.bottomContainer {
  width: 100%;
  display: flex;
  padding-left: var(--spacings-xs);
  justify-content: flex-start;
  text-align: left;
  border-bottom-left-radius: var(--radii-s);
  border-bottom-right-radius: var(--radii-s);
}