
.container {
  z-index: 1;
  position: relative;
  padding: var(--spacings-m);
  border-radius: var(--radii-m);
  box-shadow: var(--shadows-light);
  transition: var(--transitions-fast);
  background-color: var(--colors-background);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text {
  font-weight: var(--font-weights-bold);
  font-size: var(--font-sizes-xl);
}

.text i {
  color: var(--colors-inverted-text);
  background-color: var(--colors-primary);
  padding-left: var(--spacings-3xs);
  padding-right: var(--spacings-3xs);
}

.cta {
  transition: var(--transitions-fast);
}

.icon {
  position: absolute;
  left: var(--spacings-2xs);
  top: var(--spacings-2xs);
}

@media (max-width: 966px) {
  .text {
    font-size: var(--font-sizes-l);
  }
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 0;
  }

  .text i {
    display: inline-block;
  }
}