
.gradientContainer {
  width: 100%;
}

.gradientName {
  max-width: 10rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.gradientSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  box-sizing: border-box;
}