.container {
  margin: var(--space-l) 0;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.preview {
  display: flex;
  padding-top: var(--space-s);
  padding-bottom: var(--space-s);
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1440px) {
  .row {
    flex-direction: column;
  }

  .preview {
    justify-content: space-between;
  }
}

@media (max-width: 966px) {
  .preview {
    flex-direction: column;
  }
}
