.container {
  margin: var(--spacings-l) 0;
}

.preview {
  display: flex;
  padding-top: var(--spacings-s);
  padding-bottom: var(--spacings-s);
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 1440px) {
  .row {
    flex-direction: column;
  }

  .preview {
    justify-content: space-between;
  }
}

@media (max-width: 966px) {
  .preview {
    flex-direction: column;
  }
}
