.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: var(--sizes-100vh);
}

.logoContainer {
  margin: var(--spacings-xs) auto;
}

.subtitle {
  font-size: var(--font-sizes-3xl);
  font-weight: var(--font-weights-bold);
  line-height: 4rem;
  margin-top: var(--spacings-xs);
  margin-bottom: var(--spacings-xs);
}

.subtitle  p {
  margin: 0;
}

.cardContainer {
  margin: var(--spacings-xl) 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: var(--spacings-m);
  }

  .subtitle {
    font-size: var(--font-sizes-2xl);
    line-height: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .heroBanner {
    padding: 0;
  }
}