.heroBanner {
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  perspective: 800px;
  perspective-origin: top right;
}

.logoContainer {
  margin: var(--space-xs) auto;
}

.subtitle {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4rem;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.subtitle  p {
  margin: 0;
}

.cardContainer {
  margin: var(--space-xl) 0;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .heroBanner {
    padding: 0;
  }

  .subtitle {
    display: none;
  }
}