
.container {
  z-index: var(--z-indices-low);
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  padding: var(--spacings-m);
  border: var(--borders-strong);
  border-color: var(--colors-gray-lightest);
  transition: var(--transitions-fast);
}

.text {
  font-weight: var(--font-weights-bold);
}

.cta {
  transition: var(--transitions-fast);
}

.badge {
  position: absolute;
  right: var(--spacings-2xs);
  top: var(--spacings-2xs);
  padding: 0 var(--spacings-3xs);
  border-radius: var(--radii-m);
  background-color: var(--colors-primary);
  color: var(--colors-inverted-text);
  font-weight: var(--font-weights-bold);
}

.icon {
  position: absolute;
  left: var(--spacings-2xs);
  top: var(--spacings-2xs);
}

.arrowRight {
  position: absolute;
  right: var(--spacings-2xs);
  bottom: var(--spacings-2xs);
  stroke: var(--colors-text);
}

.container:hover {
  transform: scale(1.1) rotate3d(80, 10, -10, 10deg);
  border-color: var(--colors-secondary);
  box-shadow: var(--shadows-medium);
  z-index: var(--z-indices-high);
}

.container:hover .arrowRight {
  stroke: var(--colors-secondary);
  right: var(--spacings-3xs);
}

.container:hover .badge {
  background-color: var(--colors-secondary);
}

@media screen and (max-width: 576px) {
  .container {
    margin-top: 0;
  }

  .container:hover {
    transform: scale(1.02);
  }

  .text {
    font-size: var(--font-sizes-l);
  }
}