.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 150px;
  min-width: 150px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
