.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacings-2xs);
}


@media screen and (max-width: 966px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .features {
    grid-template-columns: 1fr;
  }
}