.features {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: var(--spacings-2xs);
}

.feature {
  height: var(--sizes-3xl);
}

.featureText {
  font-weight: var(--font-weights-bold);
  font-size: var(--font-sizes-xl);
}

@media screen and (max-width: 966px) {
  .features {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 576px) {
  .features {
    grid-template-columns: 1fr;
  }
}