.copyButton {
  display: flex;
  width: var(--spacings-s);
  height: var(--spacings-s);
  padding-left: calc(var(--spacings-xxs) / 2);
  padding-right: calc(var(--spacings-xxs) / 2);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: var(--transitions-medium);
  background-color: rgba(0, 0, 0, 0.3);
  border-top-left-radius: var(--radii-xs);
  border-bottom-right-radius: var(--radii-xs);
}

.icon {
  width: var(--spacings-s);
  height: var(--spacings-s);
}

.copyButton p {
  color: var(--colors-inverted-text-color) !important;
  max-width: 0;
  position: absolute;
  opacity: 0;
  transition: opacity 0s ease, max-width var(--transitions-medium), width var(--transitions-medium);
}

.copyButton:hover, .copyButton.copied {
  max-width: 10rem;
  align-self: flex-end;
  width: fit-content;
}

.copyButton:hover p, .copyButton.copied p {
  opacity: 1;
  position: relative;
  margin-right: var(--spacings-xxs);
  max-width: 10rem;
}

.hiddenText {
  position: fixed;
  opacity: 0;
}