.labelContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle {
  transform: rotate(0deg);
  transition: var(--transitions-fast);
  margin-right: var(--spacings-2xs);
  transform-origin: center center;
}

.open .toggle {
  transform: rotate(90deg);
}

.icon {
  margin-right: var(--spacings-2xs);
}

.titleContainer {
  display: flex;
  align-items: center;
}

.content {
  width: 100%;
  max-height: 0px;
  height: fit-content;
  overflow: hidden;
  transition: var(--transitions-fast);
}

.open .content {
  max-height: 100vh;
}