.sidebar {
  top: 0;
  width: 20vw;
  height: 100vh;
  display: flex;
  position: fixed;
  color: white;
  z-index: var(--z-indices-strong);
  max-width: 300px;
  transform: translateX(-100%);
  transition: var(--transitions-fast);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: calc(2 * var(--sizes-xxl));
  background-color: var(--colors-primary);
}

.linksContainer {
  height: 'fit-content';
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.open.sidebar {
  transform: translateX(0%);
}

.toggle {
  position: absolute;
  width: var(--sizes-xl);
  height: var(--sizes-xl);
  line-height: var(--sizes-l);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--colors-primary-dark) !important;
  top: 50%;
  right: calc(var(--spacings-xl) * -1);
  transform: translateY(-50%);
  transition: var(--transitions-fast);
}

.open .toggle {
  transform: translateY(-50%) translateX(50%) rotate(180deg);
  right: 0;
}
