.container {
  display: flex;
  flex-direction: column;
}

.version {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: var(--sizes-xs);
  font-size: var(--font-sizes-xs);
  color: var(--colors-inverted-text);
  background-color: var(--colors-primary);
  margin-left: 45px;
  padding-left: var(--spacings-xs);
  padding-right: var(--spacings-xs);
  border-radius: var(--radii-m);
}