.container {
  padding-left: var(--spacings-xs);
  padding-right: var(--spacings-xs);
}

.previewContainer {
  border: var(--borders-primary);
  border-color: var(--colors-primary);
  width: 100%;
  padding-top: var(--spacings-xxl);
  padding-bottom: var(--spacings-xxl);
  margin-bottom: var(--spacings-l);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--radii-m);
}