.container {
  padding-left: var(--spacings-xs);
  padding-right: var(--spacings-xs);
}

.defaultStyleAlertContainer {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacings-2xs);
}

.icon {
  margin-right: var(--spacings-2xs);
}

.previewContainer {
  width: 100%;
  padding-top: var(--spacings-xs);
  padding-bottom: var(--spacings-xs);
  margin-bottom: var(--spacings-l);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-left: var(--spacings-xs);
  padding-right: var(--spacings-xs);
}