.container {
  display: flex;
  min-width: 20rem;
  height: 20rem;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--transitions-fast);
}

.container:hover {
  transform: scale(1.1);
}

.code {
  flex: 1;
  border: 2px solid var(--colors-primary-lightest);
  margin: 0 var(--spacings-2xs);
  padding: 0;
  overflow: hidden;
  position: relative;
  text-align: left;
  border-radius: var(--radii-m);
  background-color: rgb(41, 45, 62);
}

.container:hover .code {
  border: 4px solid var(--colors-secondary);
}

.label {
  margin-top: var(--spacings-2xs);
  margin-left: var(--spacings-2xs);
  font-weight: var(--font-weights-bold);
  font-size: 1.1rem;
  text-align: center;
}

@media (max-width: 966px) {
  .container {
    width: 100%;
    margin-top: var(--spacings-xs);
    font-size: 0.99em;
  }
}
