.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-indices-strong);
  height: 5rem;
  width: 100%;
  background-color: var(--colors-primary);
  color: var(--colors-inverted-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backButton {
  position: absolute;
  left: var(--spacings-m);
}

.title {
  flex: 1;
  color: var(--color-inverted-text-color) !important;
  align-items: center;
  text-align: center;
}

.themeSelect {
  position: absolute;
  border-radius: var(--radii-xs);
  background-color: var(--colors-background);
  right: var(--spacings-m);
  padding-left: var(--spacings-m);
  padding-right: var(--spacings-m);
  padding-top: var(--spacings-xxs);
  padding-bottom: var(--spacings-xxs);
}