name: Codecov

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  codecov:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/workflows/bootstrap-morfeo
      
      - name: Run tests
        run: yarn test:ci

      - name: Codecov
        uses: codecov/codecov-action@v3.1.0

